$boundary: 87.8%

@font-face
	font-family: telegraf
	src: url(../fonts/telegraf_200.ttf)
	font-style: normal
	font-weight: 200

@font-face
	font-family: telegraf
	src: url(../fonts/telegraf_400.ttf)
	font-style: normal
	font-weight: 400

@mixin fontIvyNormal
	font-family: ivypresto-headline, serif
	font-weight: 400

@mixin fontIvyItalic
	font-family: ivypresto-headline, serif 
	font-weight: 200
	font-style: italic
	  
@mixin fontTel
	font-family: telegraf
	font-style: normal

@mixin defaultTransition
	transition: all .25s ease-in-out

@mixin whipTransition
	transition: cubic-bezier(.76,.03,.35,.99) .25s all

@mixin has3D
	transform: perspective(300px)
	transform-style: preserve-3d



*
	--color-blue: #001F4E
	--color-dark: #030b18
	--color-yellow: #FFE65C
	--color-red: #E32121
	--color-gry: #EEEEEE
	--color-teal:#13f1df
	--color-white: white
	--shadow-color:#3171a5
	--unit: 16.667%
	--spacer: clamp(1.5rem, calc(1.5rem + ((1vw - 0.36rem) * 1.7857)), 3rem)
	--widthOne: calc((--unit * 1) - var(--spacer))
	--widthTwo: calc((--unit * 2) - var(--spacer))
	--widthThree: calc((--unit * 3) - var(--spacer))
	--widthFour: calc((--unit * 4) - var(--spacer))
	--widthFive: calc((--unit * 5) - var(--spacer))
	--widthSix: calc((--unit * 6) - var(--spacer))
	box-sizing: border-box

@mixin maxWidthXS
	width: $boundary
	max-width: 350px

@mixin maxWidthS
	width: $boundary
	max-width: 550px

@mixin maxWidthM
	width: $boundary
	max-width: 850px

@mixin maxWidthL
	width: $boundary
	max-width: 1250px	

@mixin maxWidthXL
	width: $boundary
	max-width: 1750px	


html, body
	background-color: var(--color-dark)
	scroll-behavior: smooth
	font-size: 62.5%
	margin: 0
	overflow-x: hidden
	padding: 0
	color: white

h1, h2, h3, h4, h5, h6, p, ul, li, a
	margin: 0
	padding: 0

h1 > div, h2 > div, h3 > div, h4 > div, h5 > div, h6 > div, p > div
	will-change: transform !important
	
a:visited, a.externalLink:visited
	color: var(--color-white)
	opacity: .4 !important

h1, h2, h3, h4, h5, p, li, a
	
	div
		@include has3D

a, cite > a
	color: var(--color-white)

h1
	font-size: clamp(4.4rem, calc(4.4rem + ((1vw - 0.34rem) * 10.5455)), 16rem)
	font-family: telegraf
	font-style: normal
	line-height: 1.02
	letter-spacing: -.025em
	margin-bottom: .5em

	em
		@include fontIvyItalic
		color: var(--color-yellow)
		letter-spacing: .005em

h2
	@include fontIvyNormal
	font-size: clamp(2.9em, calc(2.9rem + (6.5 - 2.9) * ((100vw - 48rem) / (120 - 48))), 6.5em)
	line-height: 1.23
	letter-spacing: .02em
	margin-bottom: .35em

	em
		@include fontIvyItalic
		color: var(--color-yellow)
		letter-spacing: .005em

h3	
	@include fontIvyNormal
	font-size: clamp(1.6em, calc(1.6rem + ((1vw - 0.48em) * 0.9722)), 3em)
	min-height: 0vw
	font-weight: 400 !important
	letter-spacing: .02em
	line-height: 1.55
	margin-bottom: .5em
	
h4
	@include fontTel
	text-transform: uppercase
	font-size: clamp(1.17em, calc(1.2rem + (1.9 - 1.17) * ((100vw - 48em) / (120 - 48))), 1.9em)
	line-height: 1.57
	font-weight: 400
	// opacity: .5
	color: var(--color-yellow)
	letter-spacing: .3em
	margin-bottom: 1.5em

h5
	@include fontTel
	text-transform: uppercase
	font-size: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)
	line-height: 1.57
	font-weight: 400
	color: var(--color-yellow)
	letter-spacing: .03em
	margin-bottom: .5em

.interstitial 
	display: flex !important
	justify-content: center
	align-items: center
	height: 100vh !important

	h4
		text-align: center

p, ul, li, a, ol, td, th
	font-size: clamp(1.6rem, calc(1.6rem + ((1vw - 0.36rem) * 1.4881)), 2rem)
	@include fontTel
	letter-spacing: 0.005em
	text-rendering: optimizeLegibility
	font-weight: 100
	line-height: 1.52

cite > a, a.externalLink
	margin-top: 1.75em
	position: relative
	overflow-x: hidden
	overflow-y: hidden
	display: inline-block

.underline, .underlineLeft
	background: white
	width: 100%
	bottom: 2px
	height: .75px
	position: absolute

.underlineLeft
	transform: translateX(-100%)

a
	@include fontIvyNormal
	display: block
	font-size: 1.3rem
	text-transform: uppercase
	text-decoration: none
	letter-spacing: .04em

	&:visited
		color: white

p.paraAnim
	@include has3D

	div
		@include has3D

::selection
	color: var(--color-blue)
	background-color: #E3E3E3

button
	cursor: pointer
	border: none
	background: transparent
	text-align: center
	display: block
	color: inherit
	font-size: inherit
	
	@include defaultTransition

	*
		font-weight: inherit

	&:hover
		opacity: .74
		scale: .99
		@include defaultTransition
		
nav
	position: fixed
	right: 3rem
	display: none
	height: 100%
	flex-direction: column
	justify-content: center
	z-index: 35
	top: 0

	a
		display: flex
		flex-direction: row-reverse
		align-items: center
		margin-top: 1.5rem
		
		p
			font-size: inherit
			font-family: inherit
			font-weight: inherit
			font-style: inherit
			margin-right: 1em
			color: white

		div.navMarker
			display: block
			width: 6px
			margin-left: 1.25rem
			border-radius: 16px
			height: 6px
			opacity: .2
			background: var(--color-teal)
			@include defaultTransition

		.activeNav
			transform: translateX(10px) 
			@include defaultTransition
			opacity: 1 !important
			transform: scale(1.4) !important
			box-shadow: 0px 0px 5px var(--shadow-color)
			
#scrollIndicator
	display: flex
	flex-direction: column
	position: fixed
	bottom: 3rem
	align-items: center
	z-index: 2
	right: 2.25rem

	#scrollAnimContainer
		width: 2rem

	h4
		writing-mode: vertical-lr
		color: white
		margin: 1rem 0 0 0

		div
			transform-style: unset !important

// Nav jump Links
.jumpTo
	// background: red
	width: 1px
	position: absolute
	top: -25%
	visibility: hidden

#introPanel .jumpTo
	top: -100%

main
	margin: auto

section:not(section.interstitial)
	height: 100vh

	&.lefty
		justify-content: flex-start

section#introPanel
	top: 0px !important
	display: flex
	justify-content: center
	align-items: center
	padding-top: 17vh
	height: 100vh

	#introHeadingContainer
		transform: translateX(calc(-26% / 4))

		h1:not(em)
			letter-spacing: -.043em

		h1, h1 > em
			margin: 0
			display: block
			position: relative
			white-space: nowrap

		h1:first-child
			z-index: 4
			text-shadow: 0px 0px 52px rgba(0,0,0, 1)

		& > div:last-child
			z-index: 3
			position: relative
			margin-top: -9%
			margin-left: 26%

			p
				max-width: 250px
				margin-top: clamp(1.5em, calc(1.5rem + ((1vw - 0.48em) * 2.0833)), 3em)
				@include has3D
				margin-left: 1rem
				will-change: transform

				div
					@include has3D

#supercomputerHoverContainer
	position: absolute
	transform: translate(-125%, -50%)
	height: 40rem
	overflow: hidden
	pointer-events: none
	@include maxWidthS
	z-index: 5000
	display: none

	img
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		object-fit: cover

header
	position: fixed
	top: 0
	align-items: center
	z-index: 400
	justify-content: space-between
	display: flex
	width: 100%
	padding: calc(6.1% * 1.5) 6.1% 0 6.1%
	
	#hamburgerIcon
		width: 5rem	
		height: 5rem
		transform: translateX(4px)

		svg:nth-child(2)
			display: none

	div#soundIndicatorContainer
		left: 4.65%
		top: 6.1%
		position: fixed
		z-index: 300
		display: flex
		flex-direction: row-reverse
		align-items: center
		overflow: hidden
		cursor: pointer

		#soundLabelSwitch
			height: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)	
			overflow: hidden
			display: flex
			margin-left: 1.5rem

			& > div
				height: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)	
				margin-left: .75em

		h5
			margin: 0
			line-height: 1

		canvas#soundIndicator
			transform: translateY(-.12rem)

#loader
	background: grey
	z-index: 40
	width: 100%
	height: 100%
	position: fixed
	top: 0
	display: none
	left: 0

#mobileMenu
	width: 100%
	height: 100%
	// backdrop-filter: blur(35px) saturate(.9) brightness(1.2)
	// -webkit-backdrop-filter: blur(35px) saturate(.9) brightness(1.2)
	background: var(--color-dark)
	z-index: 399
	position: fixed
	top: 0
	display: none
	justify-content: center
	align-items: center
	will-change: backdrop-filter
	left: 0

	#mobileNav
		padding-top: 40%
		text-align: left
		width: var(--widthSix)

	h1
		font-size: clamp(1.6em, calc(1.6rem + (12 - 3.2) * ((100vw - 48em) / (120 - 48))), 12em)
		letter-spacing: -0.03em
		line-height: 2.5
		color: var(--color-white)
		@include fontIvyNormal
		@include has3D
		text-transform: capitalize !important

#mobileMenuTransitionBar
	width: $boundary
	position: fixed
	bottom: 4px
	left: 0
	right: 0
	margin-right: auto
	margin-left: auto
	z-index: 200
	background: white
	height: 1px

@keyframes grain
  0%, 100%
    transform: translate(0, 0)

  10%
    transform: translate(-5%, -10%)

  20%
    transform: translate(-15%, 5%)

  30%
    transform: translate(7%, -25%)

  40%
    transform: translate(-5%, 25%)

  50%
    transform: translate(-15%, 10%)

  60%
    transform: translate(15%, 0%)

  70%
    transform: translate(0%, 15%)

  80%
    transform: translate(3%, 35%)

  90%
    transform: translate(-10%, 10%)

#grain
	width: 100vw
	height: 100vh
	left: 0
	top: 0
	z-index: 2
	overflow: hidden
	position: fixed

	&::after
		content: ""
		position: fixed
		opacity: .65
		width: 300%
		overflow: hidden
		top: -250%
		height: 500%
		left: -50%
		animation: grain 5.8s infinite steps(10)
		background-image: url(../img/grain.png)

.gs-dev-tools
	z-index: 900000

#viewport 
	width: 100vw
	height: 100%
	pointer-events: none
	position: fixed
	z-index: 1
	@include has3D
	transform: translateZ(0) scale(2)
	left: 0

	& > div > canvas
		height: 100vh !important
		width: 100% !important
		position: fixed
		top: 0
		transform: scale(2)
		left: 0

section#soundAsk
	position: fixed
	background: var(--color-dark)
	// @include has3D
	z-index: 25
	top: 0
	display: none
	left: 0
	filter: inherit
	width: 100%
	height: 100vh
	perspective-origin: left
	
	#soundButtons
		margin-top: 2rem
		display: flex
		justify-content: center
		transform: translateZ(90px)
		column-gap: 5em
		// @include has3D

	h2
		// @include has3D
		filter: blur(0)
		text-align: center
		color: var(--color-teal)

.panel
	z-index: 20
	position: relative
	display: block
	width: 100%
	@include maxWidthXL
	margin: 0 auto 20rem auto

.fullWidthPanel
	max-width: initial
	width: 100vw

.panelInnerLeft
	align-self: flex-start
	display: flex

section#whatIsFolding
	display: flex
	@include maxWidthXL
	align-items: center
	flex-wrap: wrap
	position: relative

	#whatIsFoldingText
		display: grid
		margin: auto
		@include maxWidthS
		flex-grow: 1

		p
			@include has3D

		& > div
			grid-column: 1
			grid-row: 1

	#peptideAnimationContainer
		// width: auto
		flex-grow: 1
		// height: 100vh
		height: 100%
		position: relative
		// flex-grow: 1
		// min-width: 300px
		display: flex
		justify-content: center
		align-items: center

		#peptideLottieContainer
			width: 60%
			flex-grow: 1
			position: relative
			top: 0
			height: 100vh

			& > svg
				display: block
				overflow: visible !important

		#peptideSliderContainer
			width: 53vw
			height: 53vw
			max-width: 300px
			max-height: 300px
			z-index: 300
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			margin: auto

			h3	
				text-align: center
				position: absolute
				width: 100%
				top: 50%
				transform: translateY(-50%)

			svg#sliderCircle
				display: inline-block
				position: absolute
				overflow: visible
				top: 0
				bottom: 0
				z-index: 3
				left: 0
				right: 0
				margin: auto

				circle
					stroke: var(--color-yellow)
					fill: transparent
					z-index: 3
					stroke-width: 7.5px
					transform-origin: center center
					transform: rotate(90deg) scaleX(-1)

			#sliderCircleBacker
				display: inline-block
				position: absolute
				display: none
				overflow: visible
				top: 0
				bottom: 0
				z-index: 2
				left: 0
				right: 0
				margin: auto

				circle
					stroke: var(--color-white);
					z-index: 4
					stroke-width: 6px
					fill: transparent
					transform-origin: center center
					transform: rotate(-90deg)

			#peptideSlider
				height: 100%
				width: 4rem
				position: absolute
				top: 0
				z-index: 10
				left: 0
				right: 0
				margin-right: auto
				margin-left: auto

				#peptideKnob
					border-radius: 50%
					background: var(--color-yellow)
					width: 3rem
					z-index: 40
					height: 3rem
					transform: translateY(-50%)

.errorTarget > path
	z-index: 200 !important
	fill: none

.errorTarget
	cursor: pointer
	transform-origin: "center center"
	// transform: scale(1)
	// pointer-events: auto
	// cursor: pointer
	// width: 30px
	// height: 30px
	// transform: scale(4)
	// display: block

	& > svg
		display: block
		width: 200px !important
		height: 200px !important
		transform: scale(.48) translate(-28%, -18.5%) !important
		transform-origin: "center center"

.testTarget	
	background: var(--color-teal)
	z-index: 40
	width: 60px

section#whyDoesFoldingMatter
	align-items: flex-start

section#whyDoWeNeed
	position: relative
	padding: 25% 0 0 4.6%
	width: 100% !important
	// background: var(--color-gry)
	align-items: flex-start
	overflow: hidden

	h2, p, h4
		color: white
		@include has3D
		z-index: 10

	& > div

		& > div
			@include maxWidthM
			display: flex
			column-gap: 1.5rem
			flex-wrap: wrap

			& > h2, p
				width: 48%
				min-width: 300px

	h1#millionAcross
		position: absolute
		bottom: 0
		left: 5%
		color: var(--color-white)
		font-size: clamp(17em, calc(17rem + (86.8 - 17) * ((100vw - 48em) / (120 - 48))), 86.8em)
		line-height: 1
		white-space: nowrap
		margin: 0
		z-index: 3

	.aminoPathGuide
		height: 113%
		position: absolute
		overflow: visible
		opacity: 0
		z-index: 30

	#firstPathContainer
		right: 0
		top: 0

	#secondPathContainer
		top: -30%
		width: 100%

	#thirdPathContainer
		top: 10%
		right: 30%
		height: 120%

	#fourthPathContainer
		top: 0
		right: 20%
		height: 100%

	.aminoDudeContainer
		position: absolute
		top: 0
		left: 0

		&:first-child
			width: 12%
			z-index: 1
			min-width: 140px

		&:nth-child(2)
			width: 4%
			z-index: 1
			min-width: 80px

		&:nth-child(3)
			width: 10%
			z-index: 5
			min-width: 120px

		&:nth-child(4)
			width: 13%
			z-index: 5
			min-width: 100px

section#numberOfUsersPanel
	position: relative

	h2, p
		z-index: 10

	img.parallaxImage
		position: absolute
		width: 40%
		max-width: 400px
		box-shadow: 0px 0px 40px rgba(0,0 ,0 ,.1 )

	#laxOne
		top: 44%
		left: 5%

	#laxTwo
		bottom: 6%
		right: 20%

	#laxThree
		top: 40%
		left: 35%

	#laxFour
		top: 22%
		right: .4%

section#chartOfUsers
	// width: 300vw
	height: 100vh
	top: 0 !important
	margin: 0 0 15% 0 !important
	max-width: initial !important
	overflow: hidden
	width: 200vw
	display: flex
	align-items: flex-end
	position: relative

	// #eventLabelContainer
	// 	position: fixed
	// 	top: 30%
	// 	left: calc((100/92)*8)

	.eventEntry
		@include maxWidthXS
		text-align: right	
		position: absolute
		padding-right: 2.5rem
		margin-bottom: 4rem

		.eventLine
			width: 1.5px
			height: 100%
			top: 0
			position: absolute
			right: .25rem
			background: var(--color-yellow)

	#chartCaptionContainer
		position: absolute
		top: 5%
		left: 2%
		display: grid
		@include maxWidthM

		h2
			grid-row: 1
			grid-column: 1

#barChartContainer
	display: flex
	height: 70vh
	flex-direction: row-reverse
	// flex-direction: column

	& > svg
		overflow: visible
		display: block
		width: 100%
		height: 100%
		
	.eventMarker
		fill: var(--color-yellow) !important
		position: relative

	.eventMarkerObject
		background: red
		height: 5rem
		width: 5rem
		display: block
		position: absolute
		top: 0
		right: 0

#supercomputerCompare
	width: 100vw
	height: 100vh
	display: flex
	align-items: flex-end
	padding-bottom: 1.25%
	justify-content: center
	z-index: 3

#supercomputerTable
	border-spacing: 0
	display: block
	@include maxWidthS
	
	td
		border-top: 1px solid white
		margin: 0
		padding: .5rem 0 0 0

	th
		text-align: left
		color: var(--color-yellow)
		
	tr > td:first-child
		padding-right: 6rem
		padding-bottom: 1.75rem

	tr > td:nth-child(2)
		display: flex

		.opsText
			min-width: 50px

	.dataBar
		height: 2px
		display: block
		margin: auto 0 auto .25rem
		background: var(--color-yellow)

section#helpingReduceCosts
	display: flex
	flex-wrap: wrap

	.headingContainer
		width: 50%
		max-width: 650px
		flex-grow: 1

#costNumbersContainer
	margin-top: 8%
	display: flex
	flex-direction: column

	cite > a
		margin-top: 0
		font-size: inherit

	#twoThou
		margin-bottom: 4%

	#fiveThou > div, #twoThou > div
		display: inline-flex
		padding: 0 10px
		position: relative

		.numberFlipperContainer
			display: flex
			flex-direction: column
			margin: 0
			align-items: center
			overflow: hidden
			position: relative
			height: clamp(3.2em, calc(3.2rem + (21.8 - 3.2) * ((100vw - 48em) / (120 - 48))), 21.8em)

		h1
			margin: 0
			font-size: 24.5vw
			text-align: center

		.commaChar
			margin: 0 -.028em 0 .04em

	.crossOut	
		position: absolute
		background: var(--color-yellow)
		width: 100%
		height: .5rem
		left: 0
		right: 0
		margin: 0 auto
		top: calc(50% - .5rem)

section#howCanYouHelp
	display: flex !important
	flex-direction: row
	@include maxWidthL
	margin-bottom: 0
	height: unset !important
	margin-bottom: 17%

	& > div, & > section
		align-self: flex-start
		width: 50% !important

	#helpHeadingContainer
		display: flex
		flex-direction: column
		flex-wrap: wrap
		justify-content: center
		margin-bottom: 5%
		margin-right: 5%
		column-gap: 6%
		row-gap: 4rem
		// align-items: flex-start

		& > div
			// width: 47%
			flex-grow: 1
			// min-width: 250px

		img
			width: 50%
			height: 300px
			flex-grow: .5
			align-self: flex-end
			object-fit: cover

	section#lower
		display: flex
		justify-content: center
		flex-wrap: wrap
		width: 100%
		height: unset
		column-gap: 6%

		#helpingLeft
			display: flex
			flex-grow: 1
			width: 47%
			min-width: 250px
			flex-direction: column
			align-items: flex-end

		img
			width: 47%
			height: 300px
			object-fit: cover
			margin-bottom: 5rem
			flex-grow: 1
				
	#foldingProjectsContainer
		width: 47%
		flex-grow: 1
		
		#rosetta
			margin-bottom: 3rem

		h3
			margin-bottom: .25em

	#faqContainer
		width: 100%
		height: unset
		margin-top: 4%

		article
			margin-bottom: 2rem
			cursor: pointer

			& > div
				display: flex
				flex-direction: row-reverse
				justify-content: space-between
				position: relative
				margin-top: .25rem
				padding-top: .25rem
				align-items: center
				transition: .25s ease-in-out all

				&:hover 
					opacity: .6
					transition: .25s ease-in-out all
			
			.faqQuestionLine
				position: absolute
				top: 0
				width: 100%
				background: white
				height: 0.75px

			.faqArrow
				background-image: url('../img/arrow.svg')
				background-size: 100% 100% 
				transform: rotate(-90deg)
				transform-origin: center center
				width: 15px
				height: 15px
				filter: saturate(0)

			.faqAnswer
				overflow: hidden
				width: 100%
				height: 0px 
				position: relative

				p	
					position: absolute
					left: 0
					top: 1rem
					opacity: .75
					// height: 100px

.splitLine
	overflow: hidden

#millionAcross > .splitLine
	white-space: nowrap

#explainFoldingGroup
	display: flex
	justify-content: center
	column-gap: 4rem

// Above 480px but beneath 769px
@media only screen and (min-width: 480px)

	section#whyDoWeNeed
		padding-top: 12% !important

	.errorTarget > svg
		transform: scale(.26) translate(-28%, -15.5%) !important

	section#howCanYouHelp
		margin-bottom: 5%

	header
		padding-top: calc(6.1% / 2)
		padding-left: calc(6.2% / 2)

	#hamburgerIcon
		display: none

	#mobileMenuTransitionBar
		display: none

	section#whatIsFolding
		
		.panelInnerLimit

			& > div, & > p
				@include maxWidthS
		
		#whatIsFoldingText
			position: relative
			margin: 0 auto 0 0 
			width: 50%
			height: 50%

	nav
		display: flex

	section#whyDoesFoldingMatter
		display: flex
		align-items: flex-end
		flex-direction: column
		justify-content: center
		position: relative

		& > div:not(div.dangerCloud)
			@include maxWidthS

	section#helpingReduceCosts

		.headingContainer
			flex-grow: 1

// Above 796px
@media only screen and (min-width: 769px)

	#costNumbersContainer

		#fiveThou > div, #twoThou > div

			h1
				font-size: clamp(4.4rem, calc(4.4rem + ((1vw - 0.34rem) * 10.5455)), 16rem)

	.computerName
		cursor: pointer

	#supercomputerHoverContainer
		display: block

		img
			cursor: pointer

	#costNumbersContainer

		.crossOut
			height: 1rem

	#barChartContainer
		width: 400vw

		svg
			width: 100%
			height: 100%

	#viewport > div > canvas
		top: 22%
		transform: scale(2.2)
	
	section#helpingReduceCosts
		
		& > div
			column-gap: 4.6%

			.headingContainer
				max-width: 500px
				flex-grow: 1

			& > div:not(.headingContainer)
				max-width: 500px