$boundary: 87.8%

@font-face
	font-family: telegraf
	src: url(../fonts/telegraf_200.ttf)
	font-style: normal
	font-weight: 200

@font-face
	font-family: telegraf
	src: url(../fonts/telegraf_400.ttf)
	font-style: normal
	font-weight: 400

@mixin fontIvyNormal
	font-family: ivypresto-headline, serif
	font-weight: 400

@mixin fontIvyItalic
	font-family: ivypresto-headline, serif 
	font-weight: 200
	font-style: italic
	  
@mixin fontTel
	font-family: telegraf
	font-style: normal

@mixin defaultTransition
	transition: all .25s ease-in-out

@mixin whipTransition
	transition: cubic-bezier(.76,.03,.35,.99) .25s all

@mixin has3D
	transform: perspective(300px)
	transform-style: preserve-3d

@mixin maxWidthXS
	width: $boundary
	max-width: 350px

@mixin maxWidthS
	width: $boundary
	max-width: 550px

@mixin maxWidthM
	width: $boundary
	max-width: 850px

@mixin maxWidthL
	width: $boundary
	max-width: 1250px	

@mixin maxWidthXL
	width: $boundary
	max-width: 1750px	

*
	--color-blue: #001F4E
	--color-dark: #030b18
	--color-yellow: #FFE65C
	--color-red: #E32121
	--color-gry: #EEEEEE
	--color-teal:#13f1df
	--color-white: white
	--shadow-color:#3171a5
	box-sizing: border-box

html, body
	background-color: var(--color-dark)
	scroll-behavior: smooth
	font-size: 62.5%
	margin: 0
	overflow-x: hidden
	padding: 0
	color: white

h1, h2, h3, h4, h5, h6, p, ul, li, a
	margin: 0
	padding: 0

h1 > div, h2 > div, h3 > div, h4 > div, h5 > div, h6 > div, p > div
	will-change: transform, opacity, position, color, visibility
	
a:visited, a.externalLink:visited
	color: var(--color-white)
	opacity: .4 !important

h1, h2, h3, h4, h5, p, li, a
	
	div
		@include has3D

a, cite > a
	color: var(--color-white)

h1
	font-size: clamp(3.2em, calc(3.2rem + (21.8 - 3.2) * ((100vw - 48em) / (120 - 48))), 21.8em)
	font-family: telegraf
	font-style: normal
	line-height: 1.02
	letter-spacing: -.025em
	margin-bottom: .5em

	em
		@include fontIvyItalic
		color: var(--color-yellow)
		letter-spacing: .005em

h2
	@include fontIvyNormal
	font-size: clamp(2.9em, calc(2.9rem + (6.5 - 2.9) * ((100vw - 48rem) / (120 - 48))), 6.5em)
	line-height: 1.23
	letter-spacing: .02em
	margin-bottom: 0.25em

	em
		@include fontIvyItalic
		color: var(--color-yellow)
		letter-spacing: .005em

h3	
	@include fontIvyNormal
	font-size: clamp(2.3em, calc(2.3rem + ((1vw - 0.48em) * 0.9722)), 3em)
	min-height: 0vw
	font-weight: 400 !important
	letter-spacing: .02em
	line-height: 1.55
	margin-bottom: .5em
	
h4
	@include fontTel
	text-transform: uppercase
	font-size: clamp(1.17em, calc(1.2rem + (1.9 - 1.17) * ((100vw - 48em) / (120 - 48))), 1.9em)
	line-height: 1.57
	font-weight: 400
	// opacity: .5
	color: var(--color-yellow)
	letter-spacing: .3em
	margin-bottom: .5em

h5
	@include fontTel
	text-transform: uppercase
	font-size: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)
	line-height: 1.57
	font-weight: 400
	// opacity: .5
	color: var(--color-yellow)
	letter-spacing: .03em
	margin-bottom: .5em

.interstitial 
	display: flex !important
	justify-content: center
	align-items: center

	h4
		text-align: center

p, ul, li, a, ol
	font-size: clamp(1.33em, calc(1.33rem + (2.85 - 1.33) * ((100vw - 48em) / (120 - 48))), 2.85em)
	@include fontTel
	letter-spacing: 0.005em
	text-rendering: optimizeLegibility
	font-weight: 100
	line-height: 1.52

cite > a, a.externalLink
	margin-top: 1.25em
	position: relative
	overflow-x: hidden
	overflow-y: hidden
	display: inline-block

.underline, .underlineLeft
	background: white
	width: 100%
	bottom: 2px
	height: .75px
	position: absolute

.underlineLeft
	transform: translateX(-100%)

a
	@include fontIvyNormal
	display: block
	font-size: 1.3rem
	text-transform: uppercase
	text-decoration: none
	letter-spacing: .04em

	&:visited
		color: white

p.paraAnim
	@include has3D

	div
		@include has3D

::selection
	color: var(--color-blue)
	background-color: #E3E3E3

button
	cursor: pointer
	border: none
	background: transparent
	text-align: center
	display: block
	color: inherit
	font-size: inherit
	
	@include defaultTransition

	*
		font-weight: inherit

	&:hover
		opacity: .74
		scale: .99
		@include defaultTransition
		
nav
	position: fixed
	right: 3rem
	display: none
	height: 100%
	flex-direction: column
	justify-content: center
	z-index: 35
	top: 0

	a
		display: flex
		flex-direction: row-reverse
		align-items: center
		margin-top: 1.5rem
		
		p
			font-size: inherit
			font-family: inherit
			font-weight: inherit
			font-style: inherit
			margin-right: 1em
			color: white
			@include has3D
			
			div
				@include has3D

		div.navMarker
			display: block
			width: 6px
			margin-left: 1.25rem
			border-radius: 16px
			height: 6px
			opacity: .2
			background: var(--color-teal)
			@include defaultTransition

		.activeNav
			transform: translateX(10px) 
			@include defaultTransition
			opacity: 1 !important
			transform: scale(1.4) !important
			box-shadow: 0px 0px 5px var(--shadow-color)
			
// Nav jump Links
.jumpTo
	// background: red
	width: 1px
	position: absolute
	top: -25%
	visibility: hidden

#introPanel .jumpTo
	top: -100%

main
	margin: auto

section:not(section.interstitial)
	height: 100vh

	&.lefty
		justify-content: flex-start

section#introPanel
	top: 0px !important
	display: flex
	justify-content: center
	align-items: center
	padding-top: 17vh
	height: 100vh

	#introHeadingContainer
		transform: translateX(calc(-26% / 4))

		h1:not(em)
			letter-spacing: -.043em

		h1, h1 > em
			margin: 0
			display: block
			position: relative
			white-space: nowrap

		h1:first-child
			z-index: 4
			text-shadow: 0px 0px 52px rgba(0,0,0, .25)

		& > div:last-child
			z-index: 3
			position: relative
			margin-top: -9%
			margin-left: 26%

			p
				max-width: 250px
				margin-top: clamp(1.5em, calc(1.5rem + ((1vw - 0.48em) * 2.0833)), 3em)
				@include has3D
				will-change: transform

header
	position: fixed
	top: 0
	align-items: center
	z-index: 400
	justify-content: space-between
	display: flex
	width: 100%
	padding: calc(6.1% * 1.5) 6.1% 0 6.1%
	
	#hamburgerIcon
		width: 47px
		height: 47px 
		transform: translateX(4px)

		svg:nth-child(2)
			display: none

	div#soundIndicatorContainer
		left: 6.1%
		top: 6.1%
		z-index: 300
		display: flex
		flex-direction: row-reverse
		align-items: center
		overflow: hidden
		cursor: pointer

		#soundLabelSwitch
			height: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)	
			overflow: hidden
			display: flex
			margin-left: 1.5rem

			& > div
				height: clamp(1.3em, calc(1.3rem + (1.7 - 1.3) * ((100vw - 48em) / (120 - 48))), 1.7em)	
				margin-left: .75em

		h5
			margin: 0
			line-height: 1

		canvas#soundIndicator
			transform: translateY(-.12rem)

#mobileMenu
	width: 100%
	height: 100%
	backdrop-filter: blur(35px) saturate(.9) brightness(1.2)
	background: rgba(0, 0, 19, .79)
	z-index: 399
	position: fixed
	top: 0
	display: none
	justify-content: center
	align-items: center
	will-change: backdrop-filter
	left: 0

	#mobileNav
		padding-top: 40%
		text-align: left
		width: $boundary

	h1
		font-size: clamp(1.6em, calc(1.6rem + (12 - 3.2) * ((100vw - 48em) / (120 - 48))), 12em)
		// letter-spacing: .072em
		line-height: 2.5
		@include fontIvyNormal
		@include has3D
		text-transform: capitalize !important

#mobileMenuTransitionBar
	width: $boundary
	position: fixed
	bottom: 4px
	left: 0
	right: 0
	margin-right: auto
	margin-left: auto
	z-index: 200
	background: white
	height: 1px

@keyframes grain
  0%, 100%
    transform: translate(0, 0)

  10%
    transform: translate(-5%, -10%)

  20%
    transform: translate(-15%, 5%)

  30%
    transform: translate(7%, -25%)

  40%
    transform: translate(-5%, 25%)

  50%
    transform: translate(-15%, 10%)

  60%
    transform: translate(15%, 0%)

  70%
    transform: translate(0%, 15%)

  80%
    transform: translate(3%, 35%)

  90%
    transform: translate(-10%, 10%)

#grain
	width: 100vw
	height: 100vh
	left: 0
	top: 0
	z-index: 2
	overflow: hidden
	position: fixed

	&::after
		content: ""
		position: fixed
		opacity: .65
		width: 300%
		overflow: hidden
		top: -250%
		height: 500%
		left: -50%
		animation: grain 5.8s infinite steps(10)
		background-image: url(../img/grain.png)

.gs-dev-tools
	z-index: 900000

#viewport 
	width: 100vw
	height: 100%
	position: fixed
	z-index: 1
	@include has3D
	transform: translateZ(0)
	left: 0
	// transform: scale(2)

	& > div > canvas
		height: 100vh !important
		width: 100% !important
		position: fixed
		top: 0
		left: 0

section#soundAsk
	position: fixed
	background: var(--color-dark)
	// @include has3D
	z-index: 25
	top: 0
	display: none
	left: 0
	filter: inherit
	width: 100%
	height: 100vh
	perspective-origin: left
	
	#soundButtons
		margin-top: 2rem
		display: flex
		justify-content: center
		transform: translateZ(90px)
		column-gap: 5em
		// @include has3D

	h2
		// @include has3D
		filter: blur(0)
		text-align: center
		color: var(--color-teal)

.panel
	z-index: 20
	position: relative
	display: block
	width: 100%
	@include maxWidthXL
	margin: 0 auto 18% auto

.fullWidthPanel
	max-width: initial
	width: 100vw

.panelInnerLeft
	align-self: flex-start
	display: flex

section#whatIsFolding
	display: flex
	@include maxWidthXL
	align-items: flex-start
	flex-wrap: wrap
	position: relative

	#whatIsFoldingText
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		margin: auto
		@include maxWidthXS

		p
			@include has3D

		& > div
			position: absolute
			top: 0
			bottom: 0
			margin-bottom: 0
			margin-top: 0

	// .panelInnerLimit
	// 	@include maxWidthS
	// 	height: 100%

	#peptideAnimationContainer
		// width: auto
		flex-grow: 1
		// height: 100vh
		position: relative
		// flex-grow: 1
		// min-width: 300px
		display: flex
		justify-content: center
		align-items: center

		#peptideLottieContainer
			width: 60%
			position: relative
			top: 0

			svg
				display: block

		#peptideSliderContainer
			width: 300px
			height: 300px
			z-index: 300
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			margin: auto

			h3	
				text-align: center
				position: absolute
				width: 100%
				top: 50%
				transform: translateY(-50%)

			svg#sliderCircle
				display: inline-block
				position: absolute
				overflow: visible
				top: 0
				bottom: 0
				z-index: 3
				left: 0
				right: 0
				margin: auto

				circle
					stroke: var(--color-yellow)
					fill: transparent
					z-index: 3
					stroke-width: 7.5px
					transform-origin: center center
					transform: rotate(90deg) scaleX(-1)

			#sliderCircleBacker
				display: inline-block
				position: absolute
				display: none
				overflow: visible
				top: 0
				bottom: 0
				z-index: 2
				left: 0
				right: 0
				margin: auto

				circle
					stroke: var(--color-white);
					z-index: 4
					stroke-width: 6px
					fill: transparent
					transform-origin: center center
					transform: rotate(-90deg)

			#peptideSlider
				height: 100%
				width: 40px
				position: absolute
				top: 0
				z-index: 10
				left: 0
				right: 0
				margin-right: auto
				margin-left: auto

				#peptideKnob
					border-radius: 50%
					background: var(--color-yellow)
					width: 40px
					z-index: 40
					height: 40px
					transform: translateY(-50%)

.errorTarget > path
	z-index: 200 !important
	opacity: 1 !important

.errorTarget
	pointer-events: auto
	cursor: pointer
	transition: ease-in-out 2s all

	&.deadMarker
		transition: ease-in-out 2s all
		transform: translateX(30px)

.testTarget	
	background: green
	z-index: 40
	width: 60px

.dangerMarker
	display: none
	position: relative

	.middleCircle
		background: var(--color-red)
		width: 42px
		border-radius: 200px
		height: 42px
		justify-content: center
		align-items: center
		display: flex

		.exclamation
			height: 100%
			width: 100%
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

			div
				background: white

				&:first-child
					height: 30%
					width: 10%
					margin-bottom: 5%

				&:last-child
					height: 10%
					width: 10%

	.dangerRing
		position: absolute
		width: 110px
		transform-origin: center center
		height: 110px
		border-radius: 400px
		top: 50%
		left: 50%

	.solidRing
		border: var(--color-red) 3px solid
		transform: translate(-50%, -50%) rotate(50deg)
		clip-path: polygon(51% 15%, 0% 100%, 100% 100%)

	.dashRing
		border: var(--color-red) 2px dotted
		transform: translate(-50%, -50%) rotate(-110deg)
		transform-origin: 50% 50%
		clip-path: polygon(51% 15%, 0% 100%, 100% 100%)

section#whyDoesFoldingMatter
	align-items: flex-start

section#whyDoWeNeed
	position: relative
	padding: 12% 0 0 4.6%
	width: 100% !important
	background: var(--color-gry)
	align-items: flex-start
	overflow: hidden

	h2, p, h4
		color: var(--color-dark)

	& > div

		& > div
			@include maxWidthM
			display: flex
			column-gap: 1.5rem
			flex-wrap: wrap

			& > h2, p
				width: 48%
				min-width: 300px

	h1#millionAcross
		position: absolute
		bottom: -9%
		left: 5%
		color: var(--color-yellow)
		font-size: clamp(38em, calc(38rem + (86.8 - 38) * ((100vw - 48em) / (120 - 48))), 86.8em)
		line-height: 1
		white-space: nowrap
		margin: 0
		z-index: -1

section#numberOfUsersPanel
	position: relative

	h2, p
		z-index: 10

	img.parallaxImage
		position: absolute
		width: 40%
		max-width: 400px
		box-shadow: 0px 0px 40px rgba(0,0 ,0 ,.1 )

	#laxOne
		top: 44%
		left: 5%

	#laxTwo
		bottom: 6%
		right: 20%

	#laxThree
		top: 40%
		left: 35%

	#laxFour
		top: 22%
		right: .4%

section#chartOfUsers
	width: 100%
	height: 100%

#barChartContainer 
	width: 100%

	& > svg
		overflow: visible
		display: block

		#yAxis

			.ticks:nth-child(10n)
				visibility: hidden

	.eventMarker
		fill: green !important
		position: relative

		&::after

	.eventMarkerObject
		background: red
		height: 50px
		width: 50px
		display: block
		position: absolute
		top: 0
		right: 0

	.eventMarkerLine

	.eventMarkerDot

	#declarePandemicMark

	#exascaleMark

.barv2
	width: 100%
	height: 500px

.line
	background: red
	width: .5%
	height: 200px
	margin-right: .5%



section#helpingReduceCosts
	
	& > div
		display: flex
		// width: 100%
		flex-direction: row-reverse
		flex-wrap: wrap
		justify-content: space-between

		.headingContainer
			width: 100%

#costNumbersContainer
	display: flex
	margin-top: 8%
	justify-content: space-between
	flex-wrap: wrap

	cite > a
		margin-top: 0
		font-size: inherit

	#fiveThou > div, #twoThou > div
		display: inline-flex
		padding: 0 10px
		position: relative

		.numberFlipperContainer
			display: flex
			flex-direction: column
			margin: 0
			align-items: center
			overflow: hidden
			position: relative
			height: clamp(3.2em, calc(3.2rem + (21.8 - 3.2) * ((100vw - 48em) / (120 - 48))), 21.8em)

		h1
			margin: 0
			text-align: center

		.commaChar
			margin: 0 -.028em 0 .04em

	.crossOut	
		position: absolute
		background: var(--color-yellow)
		width: 100%
		height: 1.1vh
		left: 0
		right: 0
		margin: 0 auto
		top: calc(50% - 10px)


section#howCanYouHelp
	display: block !important
	@include maxWidthL
	margin-bottom: 0

	#helpHeadingContainer
		display: flex
		@include maxWidthS
		justify-content: start
		margin-bottom: 5%

	#foldingProjectsContainer
		display: flex
		justify-content: flex-start
		column-gap: 4.6%
		flex-wrap: wrap
		@include maxWidthM
		
		& > div
			@include maxWidthXS
			width: 45%
			min-width: 240px
			flex-grow: 1

			h2
				margin-bottom: .25em

// GSAP Classes
.splitLine
	overflow: hidden

#millionAcross > .splitLine
	white-space: nowrap

#explainFoldingGroup
	display: flex
	justify-content: center
	column-gap: 4rem

// Above 480px but beneath 769px
@media only screen and (min-width: 480px)

	header
		padding-top: calc(6.1% / 2)
		padding-left: calc(6.2% / 2)

	#hamburgerIcon
		display: none

	#mobileMenuTransitionBar
		display: none

	section#whatIsFolding
		
		.panelInnerLimit

			& > div, & > p
				@include maxWidthS
		
		#whatIsFoldingText
			position: relative
			margin: 0 auto 0 0 
			width: 50%

	nav
		display: flex

	section#whyDoesFoldingMatter
		display: flex
		align-items: flex-end
		flex-direction: column
		justify-content: center
		position: relative

		.dangerCloud
			background: radial-gradient(circle, rgba(227,33,33,1) 0%, rgba(255,255,255,0) 72%)
			position: absolute
			width: 1000px
			height: 1000px
			mix-blend-mode: color-dodge
			top: 0
			z-index: 1
			opacity: .5
			// opacity: .4
			left: 0%

		& > div:not(div.dangerCloud)
			@include maxWidthS

	section#helpingReduceCosts
		
		& > div
			width: 100%
			justify-content: flex-end
			// column-gap: 3rem

			.headingContainer
				// width: 40%
				// max-width: 500px
				flex-grow: 1

			& > div:not(.headingContainer)
				// width: 40%
				// max-width: 500px

// Above 796px
@media only screen and (min-width: 769px)

	section#howCanYouHelp
		
		#foldingProjectsContainer 
			justify-content: flex-end

	#viewport > div > canvas
		top: 22%
		transform: scale(2.2)
	
	section#helpingReduceCosts
		
		& > div
			column-gap: 4.6%

			.headingContainer
				width: 50%
				max-width: 500px
				flex-grow: 1

			& > div:not(.headingContainer)
				width: 40%
				max-width: 500px